<!-- contenedor principal -->
<div class="min-h-screen flex flex-col items-center justify-center gap-8">
  <!-- ordenar los contenedores -->
  <p class="text-center  font-bold mt-3 text-2xl">añade los participantes</p>

  <div class="flex flex-col gap-4 w-full max-w-md">
    <div *ngFor="let jugador of jugadores; trackBy: trackById" class="flex items-center gap-2">
      <input #inp type="text"
      [value]="jugador.name"
      (keydown.enter)="cambiar_nombre(jugador.id, inp.value)"
      class="flex-1 px-2 py-1 border rounded border-b-gray-400"
      ><i class="bi bi-x-circle cursor-pointer" (click)="eliminar_jugador(jugador.id)"></i>
    </div>

    <div class="flex gap-2">
      <input
      type="text"
      [(ngModel)]="nuevo_jugador"
      (keydown.enter)="agregar()"
      placeholder="nuevo participante"
      class="flex-1 px-2 py-1 border rounded border-gray-800 placeholder:text-gray-500"
      />
      <button class="button" (click)="agregar()">agregar</button>
    </div>
  </div>

  <div class="flex flex-col gap-3 w-full max-w-md">
        <p class="text-center  font-bold text-2xl">elige tu categoria</p>
    <div *ngFor="let categoria of categorias">
      <label class="flex items-center gap-2">
        <input 
        class="cursor-pointer accent-pink-500"
        type="checkbox"
        [checked]="categoria.checked"
        (change)="tema_escogido(categoria.categoria)"
        />
      {{categoria.categoria}}</label>
    </div>
  </div>

  <div class="w-full max-w-md">
    <p class="text-center mb-4">--------------------------------</p>
    <nav class="flex gap-2 justify-center">
      <a class="button"  [routerLink]="disable_boton ? null : '/targets-players'">Iniciar juego</a>
      <!-- <a class="button" routerLink="/finish-game">finalizando juego</a>  -->
    </nav>
  </div>

</div>

<!-- <button class="button" (click)="guardar()">guardar</button>
<button class="button" (click)="leer()">mostrar</button>

<p class="text-red-600">valor guardado: {{value}}</p>

<button class="button" (click)="eliminar()">eliminar</button> -->

