<!-- BOTON SALIR DE LA PARTIDA -->
<div class="flex absolute left-4 top-4">
  <nav>
    <a
      class="border border-co5 text-co5 px-4 py-2 rounded-lg
             hover:bg-co5 hover:text-co1 transition font-medium"
      routerLink="/main-page">
      salir de partida
    </a>
  </nav>
</div>

<!-- CONTENEDOR FULL CENTRO -->
<div class="min-h-screen flex flex-col items-center justify-center gap-8 bg-co1 text-white">

  <!-- TARJETA ARRIBA -->
  <div class="grid place-items-center w-72 h-48 perspective cursor-pointer">
    <div
      class="relative w-full h-full transition-transform duration-700 transform-style-preserve-3d hover:rotate-y-180"
      [class.rotate-y-180]="flipped"
    >

      <!-- FRONT -->
      <div
        class="absolute w-full h-full backface-hidden flex items-center justify-center"
      >
        <p-card
          header="Participante:"
          class="text-center bg-co2 text-co5
                 p-10 pr-14 pl-14
                 font-bold text-2xl
                 rounded-2xl shadow-xl"
        >
          <p class="font-normal text-white">
            {{ jugador.name }}
          </p>
        </p-card>
      </div>

      <!-- BACK -->
      <div
        class="absolute w-full h-full backface-hidden rotate-y-180 flex items-center justify-center"
      >

        <!-- PALABRA NORMAL -->
        <p-card
          *ngIf="jugador.palabra !== 'impostor'"
          header="La palabra es:"
          class="text-center bg-co2 text-co5
                 p-10 pr-14 pl-14
                 text-2xl font-bold
                 rounded-2xl shadow-xl"
        >
          <p class="font-normal text-co4">
            {{ jugador.palabra }}
          </p>
        </p-card>

        <!-- IMPOSTOR -->
        <p-card
          *ngIf="jugador.palabra === 'impostor'"
          header="Eres el:"
          class="text-center bg-co2 text-co5
                 p-7 font-bold text-2xl
                 rounded-2xl shadow-xl"
        >
          <p class="text-co4 font-normal animate__animated animate-bounce animate__delay-2s">
            {{ jugador.palabra }}
          </p>
        </p-card>

      </div>
    </div>
  </div>

  <!-- BOTONES ABAJO EN HORIZONTAL -->
  <div class="flex gap-4">

    <button
      class="bg-co5 text-co1 px-6 py-3 rounded-xl
             hover:bg-co4 transition
             font-semibold shadow-lg cursor-pointer"
      (click)="iniciar_partida()">
      Iniciar Juego
    </button>

    <button
      class="bg-co3 text-white px-6 py-3 rounded-xl
             hover:bg-co2 transition
             font-semibold shadow-lg cursor-pointer"
      (click)="mostrar_jugadores()">
      siguiente jugador
    </button>

  </div>

</div>
